<div class="row">
  <div class="col-md-6 offset-md-3 text-xs-center">
    <div class="btn-group select-full-block w-100 dropup">
      <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{currentPrizeText}}
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#" (click)="setCurrentPrize($event, 1)">Giải Nhất</a>
        <a class="dropdown-item" href="#" (click)="setCurrentPrize($event, 2)">Giải Nhì</a>
        <a class="dropdown-item" href="#" (click)="setCurrentPrize($event, 3)">Giải Ba</a>
      </div>
    </div>
  </div>
</div>

<div class="row mt-2 mb-2">
  <div class="col-md-6 offset-md-3 text-xs-center">
    <button type="button" class="btn btn-outline-primary btn-lg btn-block" (click)="onSubmit()">Bắt đầu!</button>
  </div>
</div>