/* You can add global styles to this file, and also import other style files */
.d-winning-number {
    font-size: 2rem;
}

body {
    background-color: tomato;
    background: url(assets/images/sakura-01.jpg) no-repeat center center fixed; 
    background-size: cover;
}