.anti-background {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 1rem;
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
}



// .background-hash {
//    background-color: #dddddd;
//    background: repeating-linear-gradient(-45deg, #ebebeb 0%, #ebebeb 10%, #eeeeee 0%, #eeeeee 50%) 0 / 15px 15px;
// }
